# ----
# Site

title: Roll Right Fabrications
url: www.rollright.co.nz
baseurl:

description: Jekyll template with example content for a not-for-profit organisation.
author:
  name: Josh Sim
  email: josh_sim@hotmail.com
  twitter: Jimmayx
social:
  name: Josh Sim
  links:
    - https://github.com/jimmayx

# -----
# Build

timezone: Etc/UTC

collections:
  staff_members:
    _icon: account_circle
    _hide_content: true
    _options:
      image:
        width: 250
        height: 250

permalink: pretty

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      _options:
        content:
          width: 1880
          height: 1880
          uploads_dir: "/images/posts/"
  -
    scope:
      path: ""
    values:
      layout: "default"

plugins:
  - jekyll-sitemap

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE

_options:
  header_background_image:
    width: 1880
    height: 1880
  newsletter_background_image:
    width: 1880
    height: 1880
