<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
	</head>
	<body>
		<nav>
			<div class="container">
				<img src="{{ site.baseurl }}/images/RRLogo.jpg" alt="Logo">
			</div>
		</nav>
		<div class="content">
			{{ content }}
		</div>
		<footer>
			<p class="editor-link" style="margin-bottom: 20px;"><a href="cloudcannon:collections/_data/company.yml" class="btn"><strong>&#9998;</strong> Update footer</a></p>
			<div class="container">
				<div class="about">
					<p>{{ site.data.company.mission_statement }}</p>
				</div>

				<div class="contact">
					<address>
						<a href="https://www.google.com/maps/place/{{ site.data.company.address | url_encode }}">
							{% include icons/footer.html icon="place" %} {{ site.data.company.address }}
						</a>
					</address>
					<p class="email">
						<a href="mailto:{{ site.data.company.email }}">
							{% include icons/footer.html icon="email" %} {{ site.data.company.email }}
						</a>
					</p>
					<p class="phone">
						<a href="tel:{{ site.data.company.phone | replace: ' ', '-' }}">
							{% include icons/footer.html icon="phone" %} Sam {{ site.data.company.phone1 }}
						</a>
					</p>
					<p class="phone">
						<a href="tel:{{ site.data.company.phone | replace: ' ', '-' }}">
							{% include icons/footer.html icon="phone" %} Arron {{ site.data.company.phone2 }}
						</a>
					</p>
				</div>

				<div class="sharing">
					<a class="facebook" href="https://www.facebook.com/{{ site.data.company.facebook }}">
						{% include icons/social-media.html social_icon="facebook" %}
					</a>
			</div>
		</footer>
		<p class="copyright">
				Built by Josh Sim
			</a>
		</p>
	</body>
</html>
